# Ignorera .NET-projektets byggfiler
**/bin/
**/obj/
**/*.dll
**/*.pdb
**/*.exe
**/*.json

# Ignorera enhetstestfiler
**/TestResults/
**/coverage/

# Ignorera Visual Studio-konfigurationsfiler
.vs/
.vscode/

# Ignorera paketfiler och kataloger som skapas av pakethanterare
packages/
node_modules/
bower_components/

# Ignorera redigerbara filer
*.swp
*.suo
*.user
*.bak
*.cache
*.log

