# Ignore .NET build artifacts
bin/
obj/
*.dll
*.pdb
*.exe
*.json

# Ignore Visual Studio specific files and folders
.vs/
.vscode/

# Ignore package management folders
packages/
node_modules/
bower_components/

# Ignore user-specific files
*.suo
*.user
*.bak
*.cache
*.log

# Ignore GitHub Actions workflow files
.github/workflows/
