# Binära filer
*.exe
*.dll
*.pdb

# Verktyg och anpassade filer
obj/
bin/
artifacts/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Linux
.vscode-test/

# GitHub Actions
/.github/workflows/
# Binära filer
*.exe
*.dll
*.pdb

# Verktyg och anpassade filer
obj/
bin/
artifacts/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Linux
.vscode-test/

# Binära filer
*.exe
*.dll
*.pdb

# Verktyg och anpassade filer
obj/
bin/
artifacts/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Linux
.vscode-test/

# GitHub Actions
/.github/workflows/
# Binära filer
*.exe
*.dll
*.pdb

# Verktyg och anpassade filer
obj/
bin/
artifacts/

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
*.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# Linux
.vscode-test/

# GitHub Actions
/.github/workflows/